Package: com.todayios-cydia.tsrevealloader
Name: TSRevealLoader
Depends: firmware (>= 14.0), mobilesubstrate (>= 0.9.5000), com.opa334.altlist
Version: 0.0.1
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Description: dynamically loads Reveal v24(12917) into applications and plugins. replace new version of Reveal.framework : ./layout/Library/Frameworks/RevealServer.framework
Maintainer: manajay  <me@todayios.com>
Author: manajay  <me@todayios.com>
Section: Tweaks
Icon: file:///RevealLoaderPrefs/Resources/reveal-logo@3x.png

